{% extends 'socialaxy_chat/base.html' %}
{% load i18n %}
{% load widget_tweaks %}

{% block title %}{% trans "Socialaxy" %}{% endblock title %}

{% block content %}
    <div class="wrapper">
        <div class="messages">
            <div class="text-center">
                {% if is_current_user %}
                    <a href="" data-target="#chats" data-toggle="tab">{% trans "Chats" %}</a>
                {% else %}
                    <a href="{% url 'socialaxy_chat:chat' profile_user.username %}">{% trans "Chat" %}</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}
